{{define "content"}}
    <div class="card">
        <div class="card-header">Список задач <a href="/task" class="btn btn-success btn-sm float-right">Создать новую</a></div>
        <div class="card-body">
            <table class="table table-sm table-hover">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Заголовок</th>
                    <th scope="col">Статус</th>
                    <th scope="col">Интервал</th>
                    <th scope="col">Запуск по времени</th>
                    <th scope="col">Действия</th>
                </tr>
                </thead>
                <tbody>
                {{ range $key, $task := .Content.Tasks }}
                    <tr>
                        <th>{{ $task.Id }}</th>
                        <td>{{ $task.Title }}</td>
                        <td>
                            {{ if $task.IsEnable }}
                                <span class="badge badge-success">Включена</span>
                            {{ else }}
                                <span class="badge badge-secondary">Отключена</span>
                            {{ end }}
                        </td>
                        <td>
                            {{ if (eq $task.Interval 1) }}
                                Каждые 5 минут
                            {{ end }}

                            {{ if (eq $task.Interval 2) }}
                                Каждые 15 минут
                            {{ end }}

                            {{ if (eq $task.Interval 3) }}
                                Каждые 30 минут
                            {{ end }}

                            {{ if (eq $task.Interval 4) }}
                                Каждые 60 минут
                            {{ end }}
                        </td>
                        <td>{{ $task.Time }}</td>
                        <td><a href="/task?id={{ $task.Id }}">Редактировать</a></td>
                    </tr>
                {{ end }}
                </tbody>
            </table>
        </div>
    </div>
{{end}}