[graylog]
es = ".../_search"
baseUrl = "http://graylog.com:1234/search"

[http]
port = ""

[db]
user=""
pass=""
name=""

[telegram]
host = "https://api.telegram.org"
token = ""
chatId = ""
proxy = "socks5://xxxxx:xxxx"