[http]
port = "9999"

[db]
user=""
pass=""
name=""

[notify]
host = "https://api.telegram.org"
token = ""
chatId = ""
proxy = ""

[graylog]
es = "http://elasticsearch-host.example:9999/"
baseUrl = "http://graylog-host.example:9999/"